<div hidden class="container mypage" id="tiles">
	<div id="container-devices-tiles"/>
</div>

<template id="device-template">
	<button class="device" id="name" onmousemove="onDeviceMouseMove(this, event)">(name)</button>
	<button class="dev-details"><i class="glyphicon glyphicon-edit gi-2x"></i></button>
	<button class="dev-timers"><i class="glyphicon glyphicon-time gi-2x"></i></button>
</template>
