<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
	
  <% include ../partials/nav.ejs %>
		
  <% include ../partials/homes.ejs %>

  <% include ../partials/tiles.ejs %>

  <% include ../partials/list.ejs %>

  <% include ../partials/timers.ejs %>

  <% include ../partials/events.ejs %>

</body>
</html>

		